{% extends "base.html" %}
{% load static %}
<head>
</head>
<body>
    <header>
        {% block header %}
        <h1>About</h1>
        {% endblock %}
    <main>
        {% block content %}
        <p>This page provides information about our website</p>
        <div class="image-gallery">
            <!-- {%static "images/image1.jpg"%} -->
            <img src="{%static 'images/image1.jpg'%}" alt="Image 1">
            <img src="{%static 'images/image2.jpg'%}" alt="Image 2">
            <img src="{%static 'images/image3.jpg'%}" alt="Image 3">
        </div>
        {% endblock %}

    </main>
    <footer>
    </footer>
</body>
</html>