<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuans Psikoloji</title>
    <!-- <link rel="stylesheet" href="css/styles.css"> -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" href="{%static 'images/icon.jpeg'%}">
</head>
<body>
    <header>
        {% block header %}
        <h1>Nuans Psikoloji</h1>
        {% endblock %}
    </header>

    <div class="navbar">
      <a href="{% url 'base' %}">Anasayfa</a>
        <div class="subnav">
          <button class="subnavbtn" onclick="location.href='{% url 'hakk' %}'">Hakkimizda<i class="fa fa-caret-down"></i></button>
          <div class="subnav-content">
            <a href="#company">Company</a>
            <a href="#team">Team</a>
            <a href="#careers">Careers</a>
          </div>
        </div> 
        <div class="subnav">
          <button class="subnavbtn" onclick="location.href='{% url 'hizmetler' %}'">Hizmetler<i class="fa fa-caret-down"></i></button>
          <div class="subnav-content">
            <a href="#bring">Hizmet 1</a>
            <a href="#deliver">Hizmet 2</a>
            <a href="#package">Hizmet 3</a>
            <a href="#express">Hizmet 4</a>
          </div>
        </div> 
        <div class="subnav">
          <button class="subnavbtn" onclick="location.href='{% url 'blogs' %}'">Blogs<i class="fa fa-caret-down"></i></button>
          <div class="subnav-content">
            <a href="#link1">Blog 1</a>
            <a href="#link2">Blog 2</a>
            <a href="#link3">Blog 3</a>
            <a href="#link4">Blog 4</a>
          </div>
        </div>
        <a href="{% url 'iletisim' %}">Iletisim</a>
      </div>

    <main>
        {% block content %}
        <h2>About This Website</h2>
        <p>This is a basic website project that includes an HTML file and a CSS file for styling.</p>
        {% endblock content %}
    </main>
    <footer>
        <p>© 2024 Tüm Hakları Saklıdır.</p>
    </footer>
    <script src="{% static 'js/scripts.js' %}"></script>
</body>
</html>