{% extends "base.html" %}
{% load static %}
<head>
        {% block head %}
        {% endblock %}
    <title>Contact - My Website</title>
</head>
<body>
    <header>
        {% block header %}
        <h1>Contact Us</h1>

        {% endblock %}
    </header>
    <main>
        {% block content %}
        <h2>Contact Information</h2>
        <p>If you have any questions, feel free to reach out to us through the following contact details:</p>
        <ul>
            <li><strong>Adres:</strong> Evliyeçelebi Mah. Hatboyu Cad. NO:46/2
                34944 Tuzla, İstanbul</li>
            <li><strong>Telefon:</strong> 0538 93 133 66</li>
            <li><strong>Email:</strong> nuanspsikolojikdanismanlik@gmail.com</li>
        </ul>
        <h3>Lokasyon</h3>
        <iframe
        class="map-iframe"
        width="600"
        height="450"
        style="border:0"
        loading="lazy"
        allowfullscreen
        referrerpolicy="no-referrer-when-downgrade"
        src="https://www.google.com/maps/embed/v1/place?key={{GOOGLE_MAPS_API_KEY}}&q=Tuzla+Nüans+Psikolojik+Danışmanlık+Merkezi"> 
    </iframe>
        {% endblock %}
    </main>
    <footer>
    </footer>
</body>
</html>